
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {

    --custom-background: rgb(0, 191, 255);
  --custom-gradient: linear-gradient(90deg, rgba(0, 191, 255, 1) 0%, rgba(59, 212, 218, 1) 100%, rgba(0, 136, 255, 1) 100%);

}

body
{
    font-family: 'Poppins',sans-serif;
    background-color: #00bfff;
}

img
{
    background-color: white;
    color: white    ;
}


  
  /* Resto de los estilos y reglas CSS para el contenido de la página */
  

.header{
    color: white;
    background-color:#00bfff ;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; /*Horientar en el eje horizontal*/
    text-align: center;
    align-content: center;
    padding: 1em;
}


.header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}
.header li{
    margin: 0 .5em;
}


footer {
    color: white;
    background-color: #1A1A1A;
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.containersito{
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    background-color: white;
}

.container-php
{
    width: 100%;
}

.navbar
{
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    color: black;
    padding: 20px;
    border-bottom: 1px solid #00bfff;
}   

.navbar ul{
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.navbar li{

    padding: 5px;
    border-radius: 10px;
    transition: all .3s ease;
}

.navbar li:hover
{
    background-color: #00bfff;
    color: white;
    font-size: 17px;
    font-weight: bold;

}

.container-content{

    width: 100%;
    padding: 2em;
}
.content{

    border-radius: 3px;
    padding: 1.5em;
    color: black;
}


.user
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.user i
{
    width: 20px;
    height: 20px;
    font-size: 20px;
}




/* Vista Paciente */

.cont-paciente{
    color: black;

}

.cont-paciente input{
    color: black;
    background-color:white;
    border: 1px solid black;
}

.Buttons
{
    color: white;
    padding: 10px;
    border-radius: 10px;
}


.row ,.g-2
{
    margin-top: 10px;
}


.button {
    --color:#00bfff;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 20px;

   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: white;
   }
   
   .button:active {
    filter: brightness(.8);
   }


    .especialidades_tittle
    {
        margin-top: 40px;
    }

   .especialidades{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100vh;
    height: auto;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 30px;
    padding: 10px;
   }

.form-check-label
{
    display: flex;

    align-items: center;
    padding-top: 10px;
}


.form-check{
    margin: 10px;
}
   .form-check-input
   {
    margin: 10px;
   }



   
